# figma-managed npm registry config start
@abcd:registry=https://registry.figma.com/npm/4235a999-d0ab-483a-a77f-ac7766ed59e6/registry/
@make-kits:registry=https://registry.figma.com/npm/4235a999-d0ab-483a-a77f-ac7766ed59e6/registry/
# figma-managed npm registry config end
